{% extends "_base.html" %}

{% block main %}

<table class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>Email</th>
        <th>用户名</th>
        <th>创建时间</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
        <td>{{ user.id }}</td>
        <td><a href="/user/user-detail/{{ user.id }}">{{ user.email }}</a></td>
        <td>{{ user.name }}</td>
        <td>{{ user.createdDateTime }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}